<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes Appareils</h2>
      <ul class="list-group">
        <app-appareil [nom_appareil]="appareil_un" [appareil_status]="status_un"></app-appareil>
        <app-appareil [nom_appareil]="appareil_deux" [appareil_status]="status_deux"></app-appareil>
        <app-appareil [nom_appareil]="appareil_trois" [appareil_status]="status_trois"></app-appareil>
      </ul>
      <button *ngIf="nom_bouton == 'Tout allumer'" class="btn btn-success" (click)="onAllumer()">{{nom_bouton}}</button>
      <button *ngIf="nom_bouton == 'Tout eteindre'" class="btn btn-danger" (click)="onEteindre()">{{nom_bouton}}</button>
    </div>
  </div>
</div>
